<h1 style="color: white;">Edit Picture</h1>

<p class="btn-default" style="text-align: center; font-size: 20px;">
  <%= link_to "Back", @picture %>
</p>

<div class="well" style="text-align: center;">
<%= form_for @picture do |f| %>
  <p>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %></div>