<div class="well">
	<div class="row">
		<h1 class="col-xs-6">Photogur</h1>
		<h2 class="col-xs-6"><%= link_to "Add New", "/pictures/new", class: "pull-right" %></h2>	
	</div>
</div>

<% @pictures.each do |picture| %>
	<div class="col-lg-4 col-md-3 col-xs-6">
		<a class="thumbnail" href="/pictures/<%= picture.id %>">
	  	<%= image_tag(picture.url) %>
	  	<p><%= picture.title %> :: <%= picture.artist %></p>
		</a>
	</div>
<% end %>